<html>
  <head>
    <link rel="stylesheet" href="/static/flat-ui/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/static/flat-ui/css/flat-ui.css" type="text/css" />
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
  </head>
  <body>
    <div id="content">
    <center>
      <img src="/static/images/rageface.jpg">
      <h2>Oh no, something bad happened.</h2>
      <p>The output looked like this ...</p>
      <pre>{{ msg }}</pre>
      <a class="btn btn-primary btn-large btn-block" style="width:100px" href="/">Go back home</a>
    </center>
    </div>
  </body>
</html>
